.axis path,
.axis line {
  stroke: white;
  fill: none;
  shape-rendering: crispEdges;
  stroke-width: 2; }

svg text {
  stroke: white;
  font-size: 12px;
  font-weight: 50;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em; }
