$red-1: #bf2e1a;
$red-2: #932314;
$orange-yellow: #f7961d;
$gray-1: #efefef;
$gray-2: #999999;
$gray-3: #666666;
$gray-4: #333333;
$gray-5: #111111;

@mixin no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin translate-transition {
    transition: -webkit-transform 0.3s ease-out;
    transition: -moz-transform 0.3s ease-out;
    transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

@mixin all-transition {
    transition: background-color 0.3s ease-out;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    @include no-select;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;

    background-color: #1c1c1c;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-style: normal;

    overflow: hidden;
}

#title-container {
    position: fixed;
    z-index: 10;
    left: 15px;
    bottom: 15px;
}

#title {
    color: white;
    font-size: 32px;
    text-transform: uppercase;
}

#sub-title {
    @include no-select;
    letter-spacing: 0.2em;
    font-weight: 300;

    cursor: default;
}

@media only screen and (max-width: 480px) {
    #title img {
        width: 80%;
    }

    #sub-title {
        font-size: 0.9em;
    }
}

//-------------------------------
// Visualizations
//-------------------------------

#content canvas {
    height: 100%;
    width: 100%;
}

#content svg {
    height: 100%;
    width: 100%;
}

//-------------------------------
// Navigation Buttons
//-------------------------------

#button-container-center{
    position: fixed;    
    top: 50%;
    margin-top: -85px;
    width: 100%;
}

#button-container {
    position: fixed;  
    right: 0;
    height: 170px;
    width: 60px;
    padding: 0;
    background-color: $gray-3;

    border-radius: 5px 0 0 5px;
}

.button {
    @include no-select;
    @include all-transition;
    position: relative;
    top: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;

    margin: 0 auto;

    background-color: black;

    border-radius: 20%;

    font-size: 12px;
    text-align: center;
    text-transform: uppercase;

    cursor: pointer;
}

    .button img {
        position: relative;
        top: 6px;
        height: 80%;
    }

.inactive {
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: default;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 480px) {
    #button-container-center{
        position: fixed;    
        top: 50%;
        margin-top: -80px;
        width: 100%;
    }

    #button-container {
        height: 140px;
        width: 50px;
    }

    .button {
        width: 40px;
        height: 40px;
    }

    .button img {
        top: 4px;
    }
}


#groups-button {
    top: 5px;
}

#schemes-button {
    top: 10px;
}

#explainers-button {
    top: 10px;
    display: none;
}

#misc-button {
    top: 15px;
}

#config-button {
    top: 40px;
}

.svg-div {
    border-width: 5px 0;
    border-style: solid;
    border-color: black;
}

#group-button {
    position: fixed;
    top: 30%;
    right: 30px;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;

    cursor: pointer;
}



//-------------------------------
// Menu
//-------------------------------

.back {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;    
    cursor: pointer;

    width: 25px;
}

    .back img {
        width: 16px;
    }

.down {
    width: 24px;
    margin: 0 auto;
    cursor: pointer;
}

    .down img {
        width: 24px;
    }

.stats {
    text-align: left;
    font-size: 2em;
    height: 1.5em;

    padding: 0.5em 0 0 0.5em;
    border-bottom: medium solid white;
}

.list {
    overflow-y: auto;
}

    .option {
        @include no-select;
        @include all-transition;
        // Sizing
        max-width: 100%;
    
        font-size: 1.5em;
        line-height: 100%;
    
        cursor: pointer;
    
        padding: 1em;
    
        // Text Properties
        text-transform: capitalize;
    }
    
        .option img {
            display: block;
            margin: 0 auto;
        }
    
        .active {
            background-color: #f7961d;        
        }

//-------------------------------
// Title
//-------------------------------

#breadcrumb {
  @include translate-transition;
  @include no-select;
  cursor: default;
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 0 10px;
  line-height: 2em;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px; 
  text-transform: capitalize;
  font-weight: 100;
  white-space:nowrap;
}

    .icon {
        width: 20px;
        margin-right: 15px;
    } 

    #group .icon {
        position: relative;
        top: 4px;
    }

    #viz .icon {
        position: relative;
        top: 0px;
    }

    #scheme .icon {
        position: relative;
        top: 4px;
    }

a {
    color: white;
}

@media only screen and (max-width: 480px) {
    #breadcrumb {
        font-size: 0.9em;
    }
}

.menu {
    @include translate-transition;
    display: block;
    position: fixed;
    top: 0;
    left: -20em;
    z-index: 2;

    width: 20em;
    height: 100%;
    max-height: 100%;

    background-color: rgba(0, 0, 0, 0.8);

    // Text
    line-height: 2em;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    text-align: right;
    }
// }

#close {
    cursor: pointer;
}

ul, li {
    list-style-type: none;
}